/* Import Google Font - Poppins */
/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* background: #ffaa00; */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
}

/* Start NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 1;
    /* margin-bottom: 10px; */
}

.nav-wrapper {
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img {
    height: 100%;
    margin-top: 5px;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.nav-items {
    height: 22px;
    position: relative;
}

.icon {
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile {
    width: 22px;
    border-radius: 50%;
    background-image: url(../images/pdp.jpg);
    background-size: cover;
}

.navbar .nav-wrapper h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}

/* Start BottomBar */
.Bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: none;
    justify-content: center;
    padding: 5px 0;

}

/* End BottomBar */

/* Start sideBar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    background: #fff;
    border-right: 1px solid #dbdbdb;
    transition: 0.3s;
    z-index: 0;
}

.sidebar-header {
    width: 100%;
    margin-bottom: 25px;
}

.logo-icon {
    display: none;
    font-size: 28px;
    height: 35px;
    width: 51px;
    text-align: center;
}

.logo-img {
    margin-left: 14px;
    width: 90%;
    height: 70px;
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
}

.sidebar button>span {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 12px;
    border-radius: 24px;
    line-height: 1;
}

.sidebar button:hover>span {
    background: #f2f2f2;
}

.sidebar button:hover>span :is(i, img) {
    scale: 1.05;
}

.sidebar button>span>span {
    transition: 0.3s;
}

.sidebar button i {
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button img {
    width: 28px;
    height: 28px;
    transition: 0.2s;
}

.sidebar button i>span {
    display: grid;
    place-items: center;
    height: 20px;
    padding: 0 4px;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    right: -10px;
    border: 1px solid #fff;
    background: #ff2f40;
    color: #f9f9f9;
    font-size: 12px;
    font-family: 'Segoe UI';
}

.sidebar button i>em {
    display: block;
    width: 10px;
    height: 10px;
    background: #ff2f40;
    position: absolute;
    border-radius: 10px;
    top: 2px;
    right: -1px;
    border: 1px solid #fff;
    color: #f9f9f9;
    font-size: 12px;
    font-family: 'Segoe UI';
}

.sidebar button span {
    font-size: 17px;
}

.sidebar>nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15%;
}

/* .sidebar > nav button:last-child{
    margin-top: auto;
} */


/* Styles pour les appareils de petite taille (Mobile) */
@media only screen and (max-width: 767px) {

    .right-col,
    .search-box {
        display: none;
    }

    .wrapper {
        width: 100%;
    }

    .wrapper {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .Bottombar {
        display: flex;
        z-index: 6;
    }

    .navbar .nav-items {
        display: none;
        
    }

    .navbar h1 {
        display: flex;
        justify-content: center;
    }

    .nav-wrapper {
        width: auto;
    }

    .Bottombar .nav-wrapper>* {
        gap: 50px;
    }

}

/* Styles pour les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* .sidebar {
        width: 72px;
        display: block;
    } */

    .sidebar {
        display: none;
    }

    .sidebar button>span>span {
        opacity: 0;
        visibility: hidden;
    }

    .nav-items .icon {
        margin: 0 5px;
    }

    .post-image {
        height: 300px;
    }

    .Bottombar {
        display: none;
    }

    .wrapper {
        width: 47%;
    }
    
    .nav-wrapper{
        width: 90%;
    }
    .main {
        display: flex;
        justify-content: left;
        margin-left: 1%;
        z-index: 0;
    }

}

/* Styles pour les écrans larges (Desktop) */
@media only screen and (min-width: 1024px) {
    .main {
        width: 83%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }

    .wrapper {
        width: 37%;
        /* ou la largeur que vous souhaitez */
    }

    .sidebar {
        /* width: 72px; */
        display: block;
    }
}




::selection {
    color: #fff;
    background: #1a81ff;
}

.container-AddP {
    /* width: 500px;
    height: 480px; */       
    margin: 10px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    transition: height 0.2s ease;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.container-AddP.active {
    height: 590px;
}

.container-AddP .wrapper-AddP {
    /* width: 1000px; */
    display: flex;
}

.container-AddP .wrapper-AddP section {
    width: 450px;
    background: #fff;
}

.container-AddP img {
    cursor: pointer;
    border-radius: 50%;
}

.container-AddP .post-AddP {
    transition: margin-left 0.18s ease;
}

.container-AddP.active .post-AddP {
    margin-left: -500px;
}

.post-AddP header {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
}

.post-AddP form {
    margin: 20px 25px;
}

.post-AddP form .content-AddP,
.audience .list-AddP li .column {
    display: flex;
    align-items: center;
}

.post-AddP form .content-AddP img {
    cursor: default;
    max-width: 52px;
}

.post-AddP form .content-AddP .details-AddP {
    margin: -3px 0 0 12px;
}

form .content-AddP .details-AddP p {
    font-size: 17px;
    font-weight: 500;
}

.content-AddP .details-AddP .privacy-AddP {
    display: flex;
    height: 25px;
    cursor: pointer;
    padding: 0 10px;
    font-size: 11px;
    margin-top: 3px;
    border-radius: 5px;
    align-items: center;
    max-width: 98px;
    background: #e4e6eb;
    justify-content: space-between;
}

.details-AddP .privacy-AddP span {
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
}

.details-AddP .privacy-AddP i:last-child {
    font-size: 13px;
    margin-left: 1px;
}

form :where(textarea, button) {
    width: 100%;
    outline: none;
    border: none;
}

form textarea {
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
}

form textarea::placeholder {
    color: #858585;
}

form textarea:focus::placeholder {
    color: #b3b3b3;
}

form :where(.theme-emoji-AddP, .options-AddP) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-emoji-AddP img:last-child {
    max-width: 24px;
}

form .options-AddP {
    height: 57px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 7px;
    border: 1px solid #b9b9b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

form .options-AddP :where(.list-AddP, li),
.audience :where(.arrow-back, .icon, li .radio) {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .options-AddP p {
    color: #595959;
    font-size: 15px;
    font-weight: 500;
    cursor: default;
}

form .options-AddP .list-AddP {
    list-style: none;
}

.options-AddP .list-AddP li {
    height: 42px;
    width: 42px;
    margin: 0 -1px;
    cursor: pointer;
    border-radius: 50%;
}

.options-AddP .list-AddP li:hover {
    background: #f0f1f4;
}

.options-AddP .list-AddP li img {
    width: 23px;
}

form button {
    height: 53px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #bcc0c4;
    cursor: no-drop;
    border-radius: 7px;
    background: #e2e5e9;
    transition: all 0.3s ease;
}

form textarea:valid~button {
    color: #fff;
    cursor: pointer;
    background: #4599ff;
}

form textarea:valid~button:hover {
    background: #1a81ff;
}

.container-AddP .audience {
    opacity: 0;
    transition: opacity 0.12s ease;
}

.container-AddP.active .audience {
    opacity: 1;
}

.audience header {
    padding: 17px 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #bfbfbf;
}

.audience header .arrow-back {
    position: absolute;
    left: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    color: #747474;
    border-radius: 50%;
    background: #e4e6eb;
}

.audience header p {
    font-size: 22px;
    font-weight: 600;
}

.audience .content-AddP {
    margin: 20px 25px 0;
}

.audience .content-AddP p {
    font-size: 17px;
    font-weight: 500;
}

.audience .content-AddP span {
    font-size: 14px;
    color: #65676b;
}

.audience .list-AddP {
    margin: 15px 16px 20px;
    list-style: none;
}

.audience .list-AddP li {
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 12px 10px;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
}

.list-AddP li.active,
.audience .list-AddP li.active:hover {
    background: #e5f1ff;
}

.audience .list-AddP li:hover {
    background: #f0f1f4;
}

.audience .list-AddP li .column .icon {
    height: 50px;
    width: 50px;
    color: #333;
    font-size: 23px;
    border-radius: 50%;
    background: #e4e6eb;
}

.audience .list-AddP li.active .column .icon {
    background: #cce4ff;
}

.audience .list-AddP li .column .details-AddP {
    margin-left: 15px;
}

.list-AddP li .column .details-AddP p {
    font-weight: 500;
}

.list-AddP li .column .details-AddP span {
    font-size: 14px;
    color: #65676b;
}

.list-AddP li .radio {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #707070;
}

.list-AddP li.active .radio {
    border: 2px solid #4599ff;
}

.list-AddP li .radio::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: inherit;
}

.list-AddP li.active .radio::before {
    background: #4599ff;
}

/* Reponsive */


@media only screen and (max-width: 767px) {
    .container-AddP .wrapper-AddP section {
        width: 340px;
        
    }
    form .options-AddP p {
        display: none;
    }
    .container-AddP {
        margin-top: -45px;
    }
}


/* Styles pour les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-AddP .wrapper-AddP section {
        width: 100%;
        
    }
    form .options-AddP p {
        display: none;
    }
    .container-AddP {
        max-width: 48%;
        margin-top: 55px;
    }
    body{
        display: block;
    }
}

/* Styles pour les écrans larges (Desktop) */
@media only screen and (min-width: 1024px) {
    .container-AddP {
        max-width: 80%;
    }

}

/* Styles pour le chevron gauche */
.chevron-left {
    width: 20px;
    height: 20px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #000;
    /* Couleur noire pour le chevron */
    margin-right: 10px;
    cursor: pointer;
    /* Ajout d'un curseur pointer pour indiquer que c'est cliquable */
    /* z-index: -78; */
}

.gg--chevron-left {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16.243 6.343L14.828 4.93L7.758 12l7.07 7.071l1.415-1.414L10.586 12z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
}


/* Start Settings */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 150px;
    border-radius: 50px;
    color: var(--black);

    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
        border 0.3s;
}

.profile-dropdown-btn:hover {
    background-color: var(--secondary-light-2);
    box-shadow: var(--shadow);
}

.profile-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(./assets/profile-pic.jpg);
    background-size: cover;
}

.profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color: var(--green);
}

.profile-dropdown-btn span {
    /* margin: 0 0.5rem; */
    margin-right: 0;
}

.profile-dropdown-list {
    position: absolute;
    top: 40px;
    width: 220px;
    right: 0;
    background-color: #ffaa00;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: max-height 0.5s;
}

.profile-dropdown-list hr {
    border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
    max-height: 500px;
}

.profile-dropdown-list-item {
    padding: 0.5rem 0rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black);
}

.profile-dropdown-list-item a i {
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--secondary);
    color: var(--white);
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
}