@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
}

/* Start NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 1;
    /* margin-bottom: 10px; */
}

.nav-wrapper {
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img {
    height: 100%;
    margin-top: 5px;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.nav-items {
    height: 22px;
    position: relative;
}

.icon {
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile {
    width: 22px;
    border-radius: 50%;
    background-image: url(../images/pdp.jpg);
    background-size: cover;
}

.navbar .nav-wrapper h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}

/* Start BottomBar */
.Bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: none;
    justify-content: center;
    padding: 5px 0;

}

/* End BottomBar */

/* Start sideBar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    background: #fff;
    border-right: 1px solid #dbdbdb;
    transition: 0.3s;
    z-index: 0;
}

.sidebar-header {
    width: 100%;
    margin-bottom: 25px;
}

.logo-icon {
    display: none;
    font-size: 28px;
    height: 35px;
    width: 51px;
    text-align: center;
}

.logo-img {
    margin-left: 14px;
    width: 90%;
    height: 70px;
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
}

.sidebar button>span {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 12px;
    border-radius: 24px;
    line-height: 1;
}

.sidebar button:hover>span {
    background: #f2f2f2;
}

.sidebar button:hover>span :is(i, img) {
    scale: 1.05;
}

.sidebar button>span>span {
    transition: 0.3s;
}

.sidebar button i {
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button img {
    width: 28px;
    height: 28px;
    transition: 0.2s;
}

.sidebar button i>span {
    display: grid;
    place-items: center;
    height: 20px;
    padding: 0 4px;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    right: -10px;
    border: 1px solid #fff;
    background: #ff2f40;
    color: #f9f9f9;
    font-size: 12px;
    font-family: 'Segoe UI';
}

.sidebar button i>em {
    display: block;
    width: 10px;
    height: 10px;
    background: #ff2f40;
    position: absolute;
    border-radius: 10px;
    top: 2px;
    right: -1px;
    border: 1px solid #fff;
    color: #f9f9f9;
    font-size: 12px;
    font-family: 'Segoe UI';
}

.sidebar button span {
    font-size: 17px;
}

.sidebar>nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15%;
}

/* .sidebar > nav button:last-child{
    margin-top: auto;
} */


/* Styles pour les appareils de petite taille (Mobile) */
@media only screen and (max-width: 767px) {

    .right-col,
    .search-box {
        display: none;
    }

    .wrapper {
        width: 100%;
    }

    .wrapper {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .Bottombar {
        display: flex;
        z-index: 6;
    }

    .navbar .nav-items {
        display: none;

    }

    .navbar h1 {
        display: flex;
        justify-content: center;
    }

    .nav-wrapper {
        width: auto;
    }

    .Bottombar .nav-wrapper>* {
        gap: 50px;
    }

}

/* Styles pour les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* .sidebar {
        width: 72px;
        display: block;
    } */

    .sidebar {
        display: none;
    }

    .sidebar button>span>span {
        opacity: 0;
        visibility: hidden;
    }

    .nav-items .icon {
        margin: 0 5px;
    }

    .post-image {
        height: 300px;
    }

    .Bottombar {
        display: none;
    }

    .wrapper {
        width: 47%;
    }

    .nav-wrapper {
        width: 90%;
    }

    .main {
        display: flex;
        justify-content: left;
        margin-left: 1%;
        z-index: 0;
    }

}

/* Styles pour les écrans larges (Desktop) */
@media only screen and (min-width: 1024px) {
    .main {
        width: 83%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }

    .wrapper {
        width: 37%;
        /* ou la largeur que vous souhaitez */
    }

    .sidebar {
        /* width: 72px; */
        display: block;
    }
}


img {
    display: block;
}

.container-Profi {
    background-color:#FFF;
    border-top-right-radius:  8px;
    border-top-left-radius: 8px;
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 2rem;
    /* margin-top: 55px; */
}

main{
    background-color: #FFF;
    border-bottom-right-radius: 8px ;
    border-bottom-left-radius: 8px ;
    margin-bottom: 80px;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.container-Profi .btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    font-size: 10px;
    /* padding: 4rem 0; */
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    background-color: #4d90fe;
    color: #FFF;
    width: 80%;
    height: 40px;
    cursor: pointer;
    /* padding: 0 2.4rem; */
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}


/* Media Query */

@media screen and (max-width: 768px) {
    /* .user-Prof {
        position: absolute;
        top: 55px;
        left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    } */
    main{
        position: absolute;
        top: 460px;
        left: 0;
        bottom: 50px;
        margin: 10px;
    }
    .container-Profi{
        background-color:#FFF;
        border-top-right-radius:  8px;
        border-top-left-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        /* padding: 4rem 0; */
        position: absolute;
        top: 50px;
        left: 10px;
        width: 95%;
    }
    /* .profile {
        margin: 10px;

    } */

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
        width: 80%;
        height: 40px;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 0.9rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }

}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 0.2rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}


/* Start Gallery Section */

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

@media only screen and (max-width: 735px) {
    .gallery {
        gap: 3px;
    }
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    display: block;
}

.gallery-item .media-icon {
    position: absolute;
    top: 0px;
    right: 0px;
}


/* End Gallery Section*/


/* Mobile Tabs */
.mobile-tabs li {
    font-size: 14px;
    font-weight: 400;
    color: rgb(142, 142, 142);
    line-height: 18px;
    text-align: center;
}

.mobile-tabs li div {
    font-weight: 600;
    color: rgb(38, 38, 38);
}

.mobile-tabs ul {
    background-color:#FFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 12px 0;
    border-top: 1px solid rgb(219, 219, 219);
}

.mobile-tabs .actions {
    background-color:#FFF;
    display: flex;
    justify-content: space-around;
    height: 44px;
    align-items: center;
    border-top: 1px solid rgb(219, 219, 219);
}

/* Styles pour les appareils de petite taille (Mobile) */
@media only screen and (max-width: 767px) {


}

/* Styles pour les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    @supports (display: grid) {
        .profile {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(3, auto);
            grid-column-gap: 3rem;
            align-items: left;
        }
    
        .profile-image {
            grid-row: 1 / -1;
        }
    
        .profile-image,
        .profile-user-settings,
        .profile-stats,
        .profile-bio {
            width: auto;
            margin: 0;
            font-size: 0.9rem;
        }
    }
    .profile {
        grid-template-columns: auto 1fr;
        grid-row-gap: 1.5rem;
    }

    .profile-image {
        grid-row: 1 / 2;
    }

    .profile-user-settings {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem;
    }

    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
        grid-column: 1 / -1;
    }

    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
        margin: 0;
    }

    main{
        background-color:#FFF;
        position: absolute;
        top: 400px;
        padding: 15px;
        max-width: 50%;
        margin-left: 1%;
    }

    /* Mobile Tabs */
    .mobile-only {
        display: block;
    }

    .container-Profi {
        max-width: 50%;
        margin-left: 1%;
        padding: 2rem;
        margin-top: 50px;
    }

}

/* Styles pour les écrans larges (Desktop) */
@media only screen and (min-width: 1024px) {
    .container-Profi {
        position: absolute;
        top: 10px;
        left: 30%;
        max-width: 32.1rem;
        margin: 0 auto;
        padding: 0 2rem;
        /* margin-top: 25px; */
    }

    @supports (display: grid) {
        .profile {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(3, auto);
            grid-column-gap: 3rem;
            align-items: left;
        }
    
        .profile-image {
            grid-row: 1 / -1;
        }
    
        .profile-image,
        .profile-user-settings,
        .profile-stats,
        .profile-bio {
            width: auto;
            margin: 0;
        }
    }
    .profile {
        grid-template-columns: auto 1fr;
        grid-row-gap: 1.5rem;
    }

    .profile-image {
        grid-row: 1 / 2;
    }

    .profile-user-settings {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem;
    }

    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
        grid-column: 1 / -1;
    }

    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
        margin: 0;
    }

    main{
        background-color:#FFF;
        position: absolute;
        top: 480px;
        left: 30%;
        padding: 15px;
        max-width: 33%;
    }

    /* Mobile Tabs */
    .mobile-only {
        display: block;
    }

    .container-Profi {
        max-width: 33%;
        padding: 2rem;
        margin-top: 50px;
    }
}


.user-Prof {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
/* Start Settings */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 150px;
    border-radius: 50px;
    color: var(--black);

    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
        border 0.3s;
}

.profile-dropdown-btn:hover {
    background-color: var(--secondary-light-2);
    box-shadow: var(--shadow);
}

.profile-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(./assets/profile-pic.jpg);
    background-size: cover;
}

.profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color: var(--green);
}

.profile-dropdown-btn span {
    /* margin: 0 0.5rem; */
    margin-right: 0;
}

.profile-dropdown-list {
    position: absolute;
    top: 40px;
    width: 220px;
    right: 0;
    background-color: #ffaa00;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: max-height 0.5s;
}

.profile-dropdown-list hr {
    border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
    max-height: 500px;
}

.profile-dropdown-list-item {
    padding: 0.5rem 0rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black);
}

.profile-dropdown-list-item a i {
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--secondary);
    color: var(--white);
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
}

/* Chevron */
.gg--chevron-left {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16.243 6.343L14.828 4.93L7.758 12l7.07 7.071l1.415-1.414L10.586 12z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
}


.info-EdP {
    width: 100%;
    height: 60px;
    display: block;
    /* justify-content: space-between;
    align-items: center; */
    padding: 0 0px;
    margin-bottom: 10px;
}

.info-EdP .username {
    width: auto;
    font-weight: 400;
    color: #000;
    font-size: 15px;
    margin-left: 20px;
}

.info-EdP .username span {
    font-weight: bold;
}

.info-EdP .options {
    height: 40px;
    cursor: pointer;
}

.info-EdP .user-EdP {
    display: flex;
    align-items: center;
}

